<html>
<head>
    <title>Chat WebSocket</title>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>


</head>

<body>
<div>
    <button id="connect" onclick="connect();">Connect</button>
    <button id="disconnect"  onclick="reload();">
        Disconnect</button><br />
    <div id="conversationDiv">
        <p onclick="location.reload();" id="response"></p>
    </div>
</div>




<script src="../static/player.js"></script>
</body>
</html>